.container {
    position: fixed;
    top: 20px; /* Górny margines */
    right: 20px; /* Margines z prawej strony */
    z-index: 99; /* Ustaw z-index niżej niż inne elementy, aby nie blokował interakcji */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Obraz zajmuje cały ekran */
    background-size: cover; /* Obraz dopasowany do ekranu */
    background-position: center; /* Centrowanie obrazu */
    z-index: -1; /* Ustawione za treścią */
    opacity: 0.6; /* Możesz dostosować przezroczystość, jeśli to konieczne */
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Ograniczenie wysokości górnego paska */
    width: 100%; /* Pasek zajmuje całą szerokość tabliczki */
    text-align: center;
    cursor: pointer; /* Dodanie wskaźnika, aby wyglądało jak interaktywny element */
    position: relative;
    border-radius: 8px 8px 0 0; /* Zaokrąglone krawędzie tylko u góry */
}

.text {
    font-size: 2rem; /* Ustawienie wielkości czcionki na 2rem */
    color: white; /* Kolor napisu biały */
    margin: 0; /* Usuń marginesy */
    font-family: 'Your Font Name', sans-serif; /* Upewnij się, że masz ustawioną odpowiednią czcionkę */
}
