html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pageContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.loginContainer {
    position: relative;
    z-index: 2;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
